/*.cont1{
    text-align: center;
    font-family: 'Courier New', monospace;
    color: peachpuff;
    background-color:rgb(4, 189, 189);
    padding: 20px;
    width: 1200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: x-large;
}
.cont2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: Georgia, serif;
    height: fit-content;
    width: fit-content;
    float: inline-end;

}
body{
    background-image: url(bg.jpg);
}
*/
h1,h2{
    text-align: center;
    text-decoration-color: darkblue;
    background-color: dimgrey;
    font-family: Verdana;
}
body{
    background-color: blanchedalmond; 
    
}
.cont1{
    color: rgb(252, 34, 34);
    font: 1em sans-serif;
}

